html,
body {
    position: absolute;
    height: 100%;
    min-width: 100%;
}

.wrapper {
    position: relative;
    min-height: 100%;
}

.wrapper+style+iframe {
    display: none;
}

.content {
    padding: 0 44px;
}

.google-header-bar {
    height: 71px;
    background: #f1f1f1;
    border-bottom: 1px solid #e5e5e5;
    overflow: hidden;
}

.header .logo {
    margin: 17px 0 0;
    float: left;
}

.header .signin,
.header .signup {
    margin: 28px 0 0;
    float: right;
    font-weight: bold;
}

.header .signin-button,
.header .signup-button {
    margin: 22px 0 0;
    float: right;
}

.header .signin-button a {
    font-size: 13px;
    font-weight: normal;
}

.header .signup-button a {
    position: relative;
    top: -1px;
    margin: 0 0 0 1em;
}

.main {
    margin: 0 auto;
    width: 650px;
    padding-top: 23px;
    padding-bottom: 100px;
}

.main h1:first-child {
    margin: 0 0 .92em;
}

.google-footer-bar {
    position: absolute;
    bottom: 0;
    height: 35px;
    width: 100%;
    border-top: 1px solid #ebebeb;
    overflow: hidden;
}

.footer {
    padding-top: 9px;
    font-size: .85em;
    white-space: nowrap;
    line-height: 0;
}

.footer ul {
    color: #999;
    float: left;
    max-width: 80%;
}

.footer ul li {
    display: inline;
    padding: 0 1.5em 0 0;
}

.footer a {
    color: #333;
}

.footer form {
    text-align: right;
}

.footer form .lang-chooser {
    max-width: 20%;
}

.redtext {
    color: #dd4b39;
}

.greytext {
    color: #555;
}

.secondary {
    font-size: 11px;
    color: #666;
}

.source {
    color: #093;
}

.hidden {
    display: none;
}

.announce-bar {
    position: absolute;
    bottom: 35px;
    height: 33px;
    z-index: 2;
    width: 100%;
    background: #f9edbe;
    border-top: 1px solid #efe1ac;
    border-bottom: 1px solid #efe1ac;
    overflow: hidden;
}

.announce-bar .message {
    font-size: .85em;
    line-height: 33px;
    margin: 0;
}

.announce-bar .message .separated {
    margin-left: 1.5em;
}

.announce-bar-ac {
    background: #eee;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: '.';
    clear: both;
    height: 0;
}

* html .clearfix {
    zoom: 1;
}

*:first-child+html .clearfix {
    zoom: 1;
}

pre {
    font-family: monospace;
    position: absolute;
    left: 0;
    margin: 0;
    padding: 1.5em;
    font-size: 13px;
    background: #f1f1f1;
    border-top: 1px solid #e5e5e5;
    direction: ltr;
}